* {
  box-sizing: border-box;
}

body {
  background: #181818;
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;
}

.content { 
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
  font-size: 3em;
}

.brand span {
  color: #303F9F;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #3F51B5;
}

.contact-form form button {
  background: #303F9F;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #3F51B5;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}