* {
  box-sizing: border-box;
}

body {
  background: #181818;
  color: #fff;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
  font-size: 3em;
}

.brand span {
  color: #303f9f;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #3f51b5;
}

.contact-form form button {
  background: #303f9f;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #3f51b5;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 1200px) {
  body {
    padding: 0 4em;
  }
  .content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }

  .brand span {
    font-weight: 120px;
    background: #CB60B3;
    background: linear-gradient(to right, #CB60B3 0%, #C146A1 50%, #A80077 51%, #DB36A4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
 
  }

  .contact-form form button,
.contact-form form input,
.contact-form form textarea {

  border-bottom: 1px solid #DB36A4;

}
.contact-form form button {
  background: #A80077;
}
.contact-form form button:hover,
.contact-form form button:focus {
  background: #DB36A4;
}
}
